@import "tailwindcss";

:root {
  --background: #080808;
  --foreground: #e0e0e0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  font-family: sans-serif;
}

/* Forza il background nero se Tailwind non dovesse caricare subito */
html {
  background: #080808;
}
